# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# Logs
*.log

# Test cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# MyPy type checking
.mypy_cache/
.dmypy.json
